 
<!DOCTYPE html>
<html>
<head>
  <title>Device Guide</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Device User Guide</h1>
    
    <h2>Table of Contents</h2>
    <p class="device-guide">
		    Initial Startup     Pg. 1<br> 
        Device Settings     Pg. 2<br> 
        Device Maintenance  Pg. 3<br> 
        Troubleshooting     Pg. 4<br>
    </p>
    <br>
    <h2>Turning on Device for the First Time</h2>
    <p class="device-guide">
      This section of the guide explains how to turn on the device for the first time. It will 
      walk you through the initial setup process and provide tips for troubleshooting common issues.<br>
      Step 1: Press the on button. Good Job. 
    </p>
    
  </div>
</body>
</html>