 
<!DOCTYPE html>
<html>
<head>
  <title>Patient Dashboard</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Patient Dashboard</h1>
    
    <h2>Patient Information</h2>
    <p class="patient-info">
		    Name: Doe, John<br> 
        ID: 12345<br> 
        Last Update from Device: 2024-04-08 10:00 AM
    </p>
    <br>
    <h2>Clinician Information</h2>
    <p class="clinician-info">
      Name: Wu, Jane<br>
      Email: jane.wu@example.com<br> 
      Phone Number: 321-456-7890<br> 
      Clinic Address: 123 Main St, Melbourne FL, USA
    </p>
    <br>
    <h2>EMG Live Data</h2>
    <img src="Docs/emg_live_data.png" alt="EMG Live Data" style="max-width: 100%; height: auto;">

    <a href="device-guide.html" class="button">Access Device User Guide</a>
  </div>
</body>
</html>