<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITW Assessment</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <p class="header">Project Name: Smart Stride</p>
    <p>Team Members and Email Addresses: Cianna Grummer cgrummer2019@my.fit.edu</p>
    <p>Faculty Advisor: Dr. Gu gul@fit.edu</p>


	<p class="header">Preliminary</p>
    <p class="small-header">Plan</p>
    <a href= "Docs/Software%20Engineering%20Senior%20Design%201%20Plan.pdf" class="pdf-link" target="_blank">Download the Plan PDF</a>
        <p class="small-header">Plan Presentation</p>
    <a href= "Docs/ITW%20Assessment.pdf" class="pdf-link" target="_blank">Download the Presentation PDF</a>

    <p class="micro-title">First Semester</p>

    <p class="header">Milestone 1 (Sep 30)</p>
    <p class="small-header">Overview Document</p>
    <a href= "Docs/Milestone%201.pdf" class="pdf-link" target="_blank">Download the Milestone 1 PDF</a>
    <p class="small-header">Milestone 1 Presentation</p>
	<a href= "Docs/Milestone%201%20Presentation.pdf" class="pdf-link" target="_blank">Download the Milestone 1 Presentation</a>
    <p class="small-header">Requirement Document</p>
    <a href= "Docs/Requirements%20Document.pdf" class="pdf-link" target="_blank">Download the Requirement PDF</a>
    <p class="small-header">Design Document</p>
    <a href= "Docs/Design%20Document.pdf" class="pdf-link" target="_blank">Download the Design PDF</a>
    <p class="small-header">Test Plan</p>
    <a href= "Docs/Test%20Plan.pdf" class="pdf-link" target="_blank">Download the Test Plan PDF</a>

    <p class="header">Milestone 2 (Oct 28)</p>

    <p class="header">Milestone 3 (Nov 25)</p>

    <p class="micro-title">Second Semester</p>
    
    <p class="header">Milestone 4 (TBD)</p>

    <p class="header">Milestone 5 (TBD)</p>

    <p class="header">Milestone 6 (TBD)</p>


</body>
</html>
